.login_mensalista {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .block {
    width: 30dvw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 2rem;

    h2 {
      font-family: 'Inter', sans-serif;
      font-size: 2.5rem;
      font-weight: 800;
      text-align: center;
      padding-bottom: .5rem;
    }

    p {
      font-family: 'Inter', sans-serif;
      font-size: .75remx;
      font-weight: 400;
      text-align: center;
      padding-bottom: 2rem;
    }

    input {
      background-color: #F7F7F7;
    }

    button {

      &.forgot_password {
        justify-content: flex-start;
        font-family: 'Inter', sans-serif;
        font-size: .75rem;
        font-weight: 600;
        color: #000;
      }

      &.submit {
        background-color: #000;
        color: #FFF;
        font-weight: 600;
      }
    }
  }
}