.login {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  .block {
    width: 30%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 2rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: .5rem;
    }

    p {
      font-size: .75rem;
      font-weight: 400;
      padding-bottom: 1.5rem;
    }

    .form_field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 1rem;

      label {
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: .5rem;
      }
    }

    .submit_btn {
      align-self: flex-start;
      background-color: #000;
      font-weight: 700;
      color: #FFF;
      padding: .5rem 2.5rem;
      transition: .25s ease-in-out;

      &:disabled {
        opacity: .5;
      }
    }
  }
}