.desempenho {
  display: flex;
  flex-direction: column;
  
  h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: .5rem;
  }
  
  p {
    font-family: 'Manrope', sans-serif;
    font-size: .75rem;
    font-weight: 700;
    padding-bottom: 1rem;
  }
  
  .block {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    
    h3 {
      font-family: 'Manrope', sans-serif;
      font-size: 1rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }
    
    .charts_list {
      display: inline-flex;
      align-items: center;
      column-gap: 2rem;
      
      .charts_list_item {
        height: 25rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #E5DBE0;
        border-radius: 12px;
        padding: 1rem;
        
        h4 {
          font-family: 'Manrope', sans-serif;
          font-size: 1rem;
          font-weight: 500;
          padding-bottom: 1rem;
        }
      }
    } 
  }
}
