.admin_agendamentos {
  display: flex;
  flex-direction: column;
  
  .header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;

    h2 {
      font-family: 'Epilogue', sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
    }

    button {
      background-color: #F5F0F2;
      color: #000;
    }
  }
  
  p {
    font-family: 'Manrope', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }
  
  .search_input {
    background-color: #F5F0F2;
    margin-bottom: 1rem;
  }
  
  .filters {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
  }
}