.header {
  position: fixed;
  height: 5rem;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom: 2px solid #252525;
  z-index: 1;

  ul {
    width: 100%;
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    padding: 0 1rem;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    button {
      font-weight: 600;
      color: #252525;

      &.agendar_btn {
        background-color: #252525;
        color: #FFF;
      }
    }
  }

  img {
    height: 2.5rem;
    width: 100%;
    object-fit: contain;
  }
}