.contact {
  padding-top: 3rem;

  .instagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;

    h2 {
      font-family: 'Inter';
      font-size: 2.5rem;
      font-weight: 300;
      font-style: Italic;
      padding-bottom: 1rem;

      a {
        text-decoration: none;
        color: #000;
      }
    }

    p {
      font-family: 'Poppins';
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .whatsapp {
    width: 100%;
    display: inline-flex;

    div {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
      background-color: #F7F8F7;

      h3 {
        font-family: 'Inter';
        font-size: 2rem;
        font-weight: 500;
      }

      p {
        font-family: 'Poppins';
        font-size: 1rem;
        font-weight: 300;
      }

      img {
        height: 5rem;
        width: 5rem;
        object-fit: contain;
      }
    }

    img {
      width: 40%;
    }
  }
}