.portal_mensalista {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;

  h2 {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: .5rem;
  }

  h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 5rem;
  }

  .history_and_services {
    width: 50dvw;
    display: flex;
    flex-direction: column;

    h4 {
      font-family: 'Inter', sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    .total_services {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba($color: #000000, $alpha: .1);
      border: 1px solid rgba($color: #000000, $alpha: .2);
      ;
      border-radius: 16px;
      padding: 1.5rem;
      margin: 1rem 0;

      .total_services_info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h5 {
          font-family: 'Inter', sans-serif;
          font-size: .75rem;
          font-weight: 500;
          padding-bottom: .5rem;
        }

        p {
          font-family: 'Inter', sans-serif;
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }

    button {
      background-color: rgba($color: #000000, $alpha: .2);
      color: #000;
    }
  }
}