.footer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #F7F8F7;
  border-top: 2px solid #252525;
  padding: 3rem 0;

  div {
    display: flex;
    flex-direction: column;

    img {
      height: 3rem;
      width: auto;
      object-fit: cover;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      padding-top: 2rem;
    }
  }
}