.relatorios {
  display: flex;
  flex-direction: column;

  h2 {
    font-family: 'Epilogue', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    font-family: 'Epilogue', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    padding-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0;

    h3 {
      font-family: 'Epilogue', sans-serif;
      font-size: 1rem;
      font-weight: 700;
    }

    .form_field {
      display: flex;
      flex-direction: column;

      label {
        font-family: 'Epilogue', sans-serif;
        font-size: 1rem;
        font-weight: 500;
        padding-bottom: .5rem;
      }
    }

    .submit_btn {
      align-self: flex-start;
      background-color: #000;
      border-radius: 10px;
      color: #FFF;
    }
  }

  .result {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 0;

    h3 {
      font-family: 'Epilogue', sans-serif;
      font-size: 1.25rem;
      font-weight: 700;
      padding-bottom: 1rem;
    }

    .data_cards_list {
      display: inline-flex;
      justify-content: flex-start;
      column-gap: 1rem;

      .item {
        background-color: #F5F0F2;
        border-radius: 10px;
        padding: 1rem;

        h4 {
          font-family: 'Epilogue', sans-serif;
          font-size: 1rem;
          font-weight: 500;
          padding-bottom: .5rem;
        }

        p {
          font-family: 'Epilogue', sans-serif;
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }

    button {
      align-self: flex-start;
      background-color: #F5F0F2;
      border-radius: 10px;
      font-weight: 700;
      color: #000;
    }
  }
}