.owner_presentation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.5rem;

  h2 {
    width: 100%;
    font-family: 'Bona Nova';
    font-size: 1.5rem;
    font-weight: 400;
    font-style: Italic;
    text-align: center;
    padding: 1rem 0 3rem;
  }

  .content {
    display: inline-flex;

    .side {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #F7F8F7;
      padding: 1rem;

      h3 {
        display: inline-flex;
        align-items: center;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 14.4px;
      }

      h4 {
        font-family: Inter;
        font-weight: 400;
        font-style: Italic;
        font-size: 24px;
      }

      button {
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        font-family: 'Poppins';
        font-size: .75rem;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000;
      }

      h5 {
        font-family: 'Inter';
        font-weight: 400;
        font-style: Italic;
        font-size: 16px;
        line-height: 31.5px;
        letter-spacing: 0%;
        vertical-align: middle;
      }
    }

    .main {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;

      .gallery_list {
        display: inline-flex;
        justify-content: space-around;

        .gallery_item {
          height: 20rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          p {
            font-family: 'Poppins';
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            padding: 1rem 0;
          }
        }
      }

      .owner_info {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;

        img {
          height: 80%;
          width: 30%;
          object-fit: cover;
        }

        div {
          width: 40%;
          padding: 10rem 5rem 10rem;

          p {
            font-family: 'Inter';
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}