.servicos {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 5rem 5rem;

  h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    padding-bottom: .5rem;
  }

  h3 {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 5rem;
  }

  .category_list {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .category {
      width: 60dvw;
      display: flex;
      flex-direction: column;

      h4 {
        display: inline-flex;
        align-items: center;
        column-gap: 1rem;
        font-family: 'Manrope', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
      }

      .service {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;

        &:not(:last-child) {
          border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
        }

        .service_info {
          display: flex;
          flex-direction: column;
          row-gap: .5rem;

          h5 {
            font-family: 'Manrope', sans-serif;
            font-size: 1rem;
            font-weight: 600;
          }

          p {
            font-family: 'Manrope', sans-serif;
            font-size: .75rem;
            font-weight: 400;
          }
        }

        button {
          display: inline-flex;
          align-items: center;
          column-gap: .5rem;
          font-size: .75rem;
          font-weight: 600;
          color: #000;
          background-color: rgba($color: #000000, $alpha: .1);
        }
      }
    }
  }
}