.place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;

  h2 {
    font-family: 'Inter';
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: .5rem;
  }

  p {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 5rem;
  }

  div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;

    img {
      height: 30rem;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}