.agendamento {
  min-height: calc(100dvh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem;

  .block {
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1.5rem;

    h2 {
      font-family: 'Inter', sans-serif;
      font-style: Extra Bold;
      font-size: 30px;
      font-weight: 800;
      text-align: center;
      padding-bottom: .5rem;
    }

    p {
      font-family: 'Manrope', sans-serif;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    form {
      padding-top: 2rem;

      .form_field {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 1.5rem;
        row-gap: .5rem;

        label {
          font-size: .75rem;
          font-weight: 500;
        }

        input {
          height: 3rem;
          background-color: #F7F7F7;
          border: 1px solid rgba(0, 0, 0, 0.23);
          border-radius: 16px;
          padding: 0 1rem;
        }
      }

      .submit_button {
        width: 100%;
        background-color: #000;
        color: #FFF;
      }

      p {
        font-family: 'Manrope', sans-serif;
        font-size: .75rem;
        font-weight: 400;
        padding-top: 1rem;
      }
    }
  }
}